<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Publications</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="cat2025 cat2024 cat2023 cat2022 older">All</span></li>
            <li><span class="filter" data-filter="cat2025">2025</span></li>
            <li><span class="filter" data-filter="cat2024">2024</span></li>
            <li><span class="filter" data-filter="cat2023">2023</span></li>
            <li><span class="filter" data-filter="cat2022">2022</span></li>
            <li><span class="filter" data-filter="older">Before 2022</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio item for 2025 -->
            <div class="portfolio cat2025" data-cat="cat2025">	
                <div class="portfolio-wrapper">		
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">Title of Paper 2025</a>
                            <span class="text-category">Author 1, Author 2, Author 3</span>
                            <span class="text-publication">Journal/Conference, 2025</span>
                        </div>
                        <div class="label-bg"></div>
                    </div>
                </div>
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio item for 2024 -->
            <div class="portfolio cat2024" data-cat="cat2024">	
                <div class="portfolio-wrapper">		
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">Title of Paper 2024</a>
                            <span class="text-category">Author A, Author B</span>
                            <span class="text-publication">Journal/Conference, 2024</span>
                        </div>
                        <div class="label-bg"></div>
                    </div>
                </div>
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio item for 2023 -->
            <div class="portfolio cat2023" data-cat="cat2023">	
                <div class="portfolio-wrapper">		
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">Title of Paper 2023</a>
                            <span class="text-category">Author X, Author Y</span>
                            <span class="text-publication">Journal/Conference, 2023</span>
                        </div>
                        <div class="label-bg"></div>
                    </div>
                </div>
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio item for 2022 -->
            <div class="portfolio cat2022" data-cat="cat2022">	
                <div class="portfolio-wrapper">		
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">Title of Paper 2022</a>
                            <span class="text-category">Author M, Author N</span>
                            <span class="text-publication">Journal/Conference, 2022</span>
                        </div>
                        <div class="label-bg"></div>
                    </div>
                </div>
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio item for before 2022 -->
            <div class="portfolio older" data-cat="older">	
                <div class="portfolio-wrapper">		
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">Title of Paper Before 2022</a>
                            <span class="text-category">Author Q, Author R</span>
                            <span class="text-publication">Journal/Conference, Year</span>
                        </div>
                        <div class="label-bg"></div>
                    </div>
                </div>
            </div>		
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
