<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Publications</h1>


    <!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Postdoc  | Computer Science<span class="duration"> <i class="fa fa-calendar color"></i> Nov. 2024 --  Now</span></h5>
                <h6><span class="fa fa-briefcase"></span>Aalborg University, Denmark</h6>
                <p>Research Topic: Machine learning for spatio-temporal management and analytics</p>
            </li>


        </ul>
        <!-- /.attributes -->


        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Guest PhD | Computer Science<span class="duration"> <i class="fa fa-calendar color"></i>Nov. 2022 -- Oct. 2024</span></h5>
                <h6><span class="fa fa-trophy"></span>Aalborg University, Denmark</h6>
                <p>Research Topic: Machine learning for spatio-temporal management and analytics</p>
            </li>
            <li>
                <h5>PhD | Computer Science and Technology<span class="duration"> <i class="fa fa-calendar color"></i>Sep. 2019 -- Oct. 2024</span></h5>
                <h6><span class="fa fa-trophy"></span>Northeastern University, China</h6>
                <p>Research Topic: Graph neural networks</p>
            </li>
            <li>
                <h5>Master | Computer Software and Theory<span class="duration"> <i class="fa fa-calendar color"></i>Sep. 2017 -- Jul. 2019</span></h5>
                <h6><span class="fa fa-trophy"></span>Northeastern University, China</h6>
                <p>Research Topic: Location-based social networks</p>
            </li>
                <li>
                <h5>Bachelor | Computer Science and Technology<span class="duration"> <i class="fa fa-calendar color"></i>Sep. 2013 -- Jul. 2017</span></h5>
                <h6><span class="fa fa-trophy"></span>Northeastern University, China</h6>
                <p>Rank: 11/258</p>
            </li>
        </ul>
        <!-- /.attributes -->



</div>
</div>

    
    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="2025 2024 2023 before2023">All</span></li>
            <li><span class="filter" data-filter="2025">2025</span></li>
            <li><span class="filter" data-filter="2024">2024</span></li>
            <li><span class="filter" data-filter="2023">2023</span></li>
            <li><span class="filter" data-filter="before2023">Before 2023</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="2025">	
                <!-- .portfolio-wrapper -->
                <div class="title_content">
                    <div class="text_content">
                      <strong>Optimizing Machine Learning Models for Data Analysis</strong>
                    </div>
                    <div class="clear"></div>
                </div>
                <p>Authors: Alice Johnson, Mark Brown, Jane Doe</p>
                <p><em>Published in: Journal of Machine Learning Research, June 2020</em></p>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="2024">	
                <!-- .portfolio-wrapper -->
                <div class="title_content">
                    <div class="text_content">
                      <strong>Optimizing Machine Learning Models for Data Analysis</strong>
                    </div>
                    <div class="clear"></div>
                </div>
                <p>Authors: Alice Johnson, Mark Brown, Jane Doe</p>
                <p><em>Published in: Journal of Machine Learning Research, June 2020</em></p>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="2023">	
                <!-- .portfolio-wrapper -->
                <div class="title_content">
                    <div class="text_content">
                        <strong>Optimizing Machine Learning Models for Data Analysis</strong>
                    </div>
                    <div class="clear"></div>
                </div>
                <p>Authors: Alice Johnson, Mark Brown, Jane Doe</p>
                <p><em>Published in: Journal of Machine Learning Research, June 2020</em></p>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->


                         <!-- .portfolio -->
            <div class="portfolio logo" data-cat="before2023">	
                <!-- .portfolio-wrapper -->
                <div class="title_content">
                    <div class="text_content">
                      <strong>Optimizing Machine Learning Models for Data Analysis</strong>
                    </div>
                    <div class="clear"></div>
                </div>
                <p>Authors: Alice Johnson, Mark Brown, Jane Doe</p>
                <p><em>Published in: Journal of Machine Learning Research, June 2020</em></p>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->           

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
