<div id="portfolio" class="content_2">
    
    <!-- Title -->
    <h1 class="h-bloc">Portfolio - My Publications</h1>

    <!-- Container for portfolio items -->
    <div class="container-portfolio">

        <!-- Filters by year -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="cat2025 cat2024 cat2023 older">All</span></li>
            <li><span class="filter" data-filter="cat2025">2025</span></li>
            <li><span class="filter" data-filter="cat2024">2024</span></li>
            <li><span class="filter" data-filter="cat2023">2023</span></li>
            <li><span class="filter" data-filter="older">Before 2023</span></li>
        </ul>

                    <li class="first">
                <h5>Postdoc  | Computer Science<span class="duration"> <i class="fa fa-calendar color"></i> Nov. 2024 --  Now</span></h5>
                <h6><span class="fa fa-briefcase"></span>Aalborg University, Denmark</h6>
                <p>Research Topic: Machine learning for spatio-temporal management and analytics</p>
            </li>

        
        <!-- List of portfolio items -->
        <ul id="portfoliolist">
                    <li class="portfolio first cat2025">
                <h5>Postdoc  | Computer Science<span class="duration"> <i class="fa fa-calendar color"></i> Nov. 2024 --  Now</span></h5>
                <h6><span class="fa fa-briefcase"></span>Aalborg University, Denmark</h6>
                <p>Research Topic: Machine learning for spatio-temporal management and analytics</p>
            </li>


                   <ul id="portfoliolist">
                    <li class="portfolio first cat2023">
                <h5>Postdoc  | Computer Science<span class="duration"> <i class="fa fa-calendar color"></i> Nov. 2024 --  Now</span></h5>
                <h6><span class="fa fa-briefcase"></span>Aalborg University, Denmark</h6>
                <p>Research Topic: Machine learning for spatio-temporal management and analytics</p>
            </li>
                       
          
        </ul>

        <div class="clear"></div>
    </div>
</div>
