<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Yumeng Song</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Yumeng Song</span>
                <div class="clear"></div>
            </li>

<!--             <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">March 18, 1988</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">San Francisco , CA</span>
                <div class="clear"></div>
            </li> -->

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">yumengs@cs.aau.dk</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+45 52679853</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">sc.chinaz.com</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
          I am a postdoc with the Department of Computer Science at Aalborg University, Denmark. I received my Bachelor's, Master's, and Ph.D. degrees from Northeastern University in 2017, 2019, and 2024, respectively, under the supervision of Prof. <a href="http://faculty.neu.edu.cn/yuge/en/index.htm" target="_blank">Ge Yu</a></span>. From 2022 to 2024, I was a guest Ph.D. at Aalborg University, hosted by Assistant Prof. <a href="http://tianyili.site/" target="_blank">Tianyi Li</a></span>.  I have published several papers in top conferences and journals, including VLDB, TKDE, etc.
        </p>
        

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.jpg" alt="" />
            <img src="images/img-profile/about_3.jpg" alt="" />
        </div>

    </div>

</div>


<div class="clear"></div>
</div>
<!-- End .profile -->
